* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p,
h1,
h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-image: url("../img/bg_001.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
section {
  display: grid;
  height: 90%;
  width: 90%;
  gap: 2rem;
  border: black 2px solid;
  grid-template-rows:
    "main-menu"
    " image "
    "body";
}
.main-menu {
  grid-area: main-menu;
  display: flex;
  justify-content: left;

  flex-direction: row;
}
.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  flex-direction: column;
}
.image {
  grid-area: image;
  padding-left: 30%;
  /* */
}
.body {
  grid-area: body;
}

.hamburger div {
  display: flex;
  justify-content: left;
  width: 3rem;
  height: 2rem;
  border: 2px black solid;
}

a {
  text-orientation: none;
}
.menu {
  background-color: rgba(112, 68, 68, 0.33);
  width: 15vw;
  height: 30vh;
  display: none;
}
#img {
  width: 10rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul li {
  display: block;
}
.menu ul li a {
  color: white;
  text-decoration-line: none;
}

div p,
h1,
h4 {
  margin-left: 15rem;
  color: white;
  text-decoration-line: none;
  white-space: pre-line;
  width: 40vw;
}
form {
  margin-top: 3rem;
  margin-left: 20rem;
}
button {
  height: 4rem;
  width: 12rem;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5%;
  padding: 10px;
  margin: 5px;
}
#tx1 {
  background-color: #29be56;
}
#tx2 {
  background-color: #3498db;
}
#img1 {
  margin-left: 70%;
  width: 15rem;
  height: 30rem;

  position: absolute;
  transition: 5s;
  z-index: auto;
  filter: grayscale(10%);
}
#img2 {
  margin-left: 60%;
  margin-top: 1%;
  width: 15rem;
  height: 30rem;

  position: absolute;
  transition: 6s;
  z-index: auto;
  filter: grayscale(10%);
}
a:hover,
button:hover {
  filter: grayscale(3%);
  transform: scale(1.2);
  cursor: pointer;
}
