// the menu variables
$main-div-size: 90%;
$hamburger-menu-color: rgba(139, 137, 137, 0.336);
$hamburger-menuUl-color: rgba(68, 66, 66, 0.33);
$hamburger-menuUl-size: 20%;
$hamburger-menu-size: 3rem;
// the nav variables
// the footer variables
